body {
    background: #fefefe;
    color: #222;
    overflow: hidden;
}


#background-img {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%; 
    width: auto;
    height: auto; 
    z-index: -100;
    filter: brightness(0.5) blur(15px);
}

#trtc-room {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #212121;
  box-sizing: border-box;
}

#video-container {
    width: 100vw;
    height: 15vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    border-bottom: 1px solid #323232;
  }

  #board-area {
    width: 100vw;
    height: 72vh;
  }
  
  #video-container > .user-video-container {
      display: block;
      position: absolute;
      overflow: hidden;
  }
  
  #video-container > .user-video-container > div {
    width: inherit;
    height:inherit;
  }
  
  #video-container > .local-video-container {
    display: block;
    position: absolute;
    overflow: hidden;
  }
  
  #video-container > .local-video-container>div>canvas{
    margin:0;
  }

  .right {
    position: absolute;
    right: 10px;
  }
  
  .left {
    position: absolute;
    left: 10px;
  }